{
    "enabled": false,
    "coin": "dash.json",

    "auxes": [
    ],
    "address": "yPDxCP6bMqfs5CTZKn2xEze8T2tbohiQB3",

    "rewardRecipients": {
        "yiiYu4SdXBjASHAyQdKiXRpU948z78rnaw": 1.5,
        "yRBhWd5KwmC1UDkZzbKXisKnDmWpLm2ahb": 0.1
    },

    "paymentProcessing": {
        "enabled": true,
        "paymentInterval": 600,
        "minimumPayment": 9999999999,
        "daemon": {
            "host": "127.0.0.1",
            "port": 19332,
            "user": "testuser",
            "password": "testpass"
        }
    },

    "ports": {
        "3008": {
            "diff": 0.03125
        },
        "3032": {
            "diff": 0.125,
            "varDiff": {
                "minDiff": 0.03125,
                "maxDiff": 2,
                "targetTime": 15,
                "retargetTime": 90,
                "variancePercent": 30
            }
        },
        "3256": {
            "diff": 1
        }
    },

    "daemons": [
        {
            "host": "127.0.0.1",
            "port": 19998,
            "user": "testuser",
            "password": "testpass"
        }
    ],

    "p2p": {
        "enabled": false,
        "host": "127.0.0.1",
        "port": 19999,
        "disableTransactions": false
    },

    "mposMode": {
        "enabled": false,
        "host": "127.0.0.1",
        "port": 3306,
        "user": "me",
        "password": "mypass",
        "database": "dash",
        "checkPassword": false,
        "autoCreateWorker": false
    },
    
    "//": "That's all, stop editing! Happy mining."

}
